<a href="https://colab.research.google.com/github/rhks13/Closure-Prediction/blob/main/%EC%B5%9C%EC%A2%85%EB%B3%91%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np
import os
from glob import glob
import pickle

Mounted at /content/drive

In [ ]:
with open('/content/drive/MyDrive/통계 빅데이터 공모전/data/상권 특성/상권_상권배후지연결_최종.pickle', 'rb') as f:
    main = pickle.load(f)

In [ ]:
sang = pd.read_csv('/content/drive/MyDrive/통계 빅데이터 공모전/data/상권특성 병합데이터fin.csv')

In [ ]:
sangbae = pd.read_csv('/content/drive/MyDrive/통계 빅데이터 공모전/data/상권배후지특성 병합데이터fin.csv')

In [ ]:
sang.columns

Index(['Unnamed: 0', '기준_년_코드', '기준_분기_코드', '시군구_코드', '시군구_코드_명', '상권_변화_지표_명',
       '상권_구분_코드_명', '상권_코드', '행정동_코드', '집객시설_수', '관공서_수', '은행_수', '종합병원_수',
       '일반_병원_수', '약국_수', '유치원_수', '초등학교_수', '중학교_수', '고등학교_수', '대학교_수',
       '백화점_수', '슈퍼마켓_수', '극장_수', '숙박_시설_수', '공항_수', '철도_역_수', '버스_터미널_수',
       '지하철_역_수', '버스_정거장_수', '총_생활인구_수', '남성_생활인구_수', '여성_생활인구_수',
       '연령대_10_생활인구_수', '연령대_20_생활인구_수', '연령대_30_생활인구_수', '연령대_40_생활인구_수',
       '연령대_50_생활인구_수', '연령대_60_이상_생활인구_수', '아파트_단지_수', '아파트_평균_면적',
       '아파트_평균_시가', '총 상주인구 수', '남성 상주인구 수', '여성 상주인구 수', '연령대 10 상주인구 수',
       '연령대 20 상주인구 수', '연령대 30 상주인구 수', '연령대 40 상주인구 수', '연령대 50 상주인구 수',
       '연령대 60 이상 상주인구 수', '총 가구 수', '아파트 가구 수', '비 아파트 가구 수', '서비스_업종_코드',
       '서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수', '주중_매출_비율', '주말_매출_비율', '점포수',
       '유사_업종_점포_수', '개업_율', '폐업_률', '프랜차이즈_점포_수', '학교_수'],
      dtype='object')

In [ ]:
sang=sang.rename(columns={'기준_년_코드':'인허가년도','기준_분기_코드':'인허가분기','상권_코드':'상권코드','서비스_업종_코드_명':'업종분류'})

In [ ]:
sangbae = sangbae.rename(columns={'기준_년_코드':'인허가년도','기준_분기_코드':'인허가분기','상권_코드':'상권배후지 상권코드','서비스_업종_코드_명':'업종분류'})

In [ ]:
sangbae.columns

Index(['Unnamed: 0', '인허가년도', '인허가분기', '시군구_코드', '시군구_코드_명', '상권_변화_지표_명',
       '상권_구분_코드_명', '상권배후지 상권코드', '행정동_코드', '집객시설_수', '관공서_수', '은행_수',
       '종합병원_수', '일반_병원_수', '약국_수', '유치원_수', '초등학교_수', '중학교_수', '고등학교_수',
       '대학교_수', '백화점_수', '슈퍼마켓_수', '극장_수', '숙박_시설_수', '공항_수', '철도_역_수',
       '버스_터미널_수', '지하철_역_수', '버스_정거장_수', '총_생활인구_수', '남성_생활인구_수', '여성_생활인구_수',
       '연령대_10_생활인구_수', '연령대_20_생활인구_수', '연령대_30_생활인구_수', '연령대_40_생활인구_수',
       '연령대_50_생활인구_수', '연령대_60_이상_생활인구_수', '아파트_단지_수', '아파트_평균_면적',
       '아파트_평균_시가', '총_상주인구_수', '남성_상주인구_수', '여성_상주인구_수', '연령대_10_상주인구_수',
       '연령대_20_상주인구_수', '연령대_30_상주인구_수', '연령대_40_상주인구_수', '연령대_50_상주인구_수',
       '연령대_60_이상_상주인구_수', '총_가구_수', '아파트_가구_수', '비_아파트_가구_수', '서비스_업종_코드',
       '업종분류', '분기당_매출_금액', '분기당_매출_건수', '주중_매출_비율', '주말_매출_비율', '점포수',
       '유사_업종_점포_수', '개업_율', '폐업_률', '프랜차이즈_점포_수', '학교_수'],
      dtype='object')

In [ ]:
cof=main['업종분류']=='커피음료'

In [ ]:
main.loc[cof, '업종분류'] = '커피-음료'

In [ ]:
main['업종분류'].unique()

array(['한식음식점', '커피-음료', '기타', '양식음식점', '호프간이주점', '분식전문점', '일식음식점',
       '중식음식점', '치킨전문점', '패스트푸드점'], dtype=object)

In [ ]:
hof=main['업종분류']=='호프간이주점'
main.loc[hof, '업종분류'] = '호프-간이주점'

In [ ]:
ind=(main['상권코드']==0)==False

In [ ]:
ind

0         True
1        False
2         True
3         True
4         True
         ...
59321    False
59322    False
59323     True
59324     True
59325     True
Name: 상권코드, Length: 59326, dtype: bool

In [ ]:
#상권코드있으면서 배후지에도 코드존재하는 애들 삭제(배후지 0으로 만들기)
main.loc[ind,'상권배후지 상권코드']=0

In [ ]:
main

,인허가일자,영업상태명,폐업일자,소재지수정,사업장명,좌표정보(X),좌표정보(Y),다중이용업소여부,시설총규모,추정임대료,...,인허가년도,인허가분기,사업기간,폐업1년이내,폐업3년이내,폐업여부,코로나여부,상권코드,번호,상권배후지 상권코드
0,20170102,폐업,20180725,서울특별시 중구 을지로6가 18-12,면면,200703.625559,451836.458257,N,29.88,1.129464e+09,...,2017,1,569.0,0,1,1,0,2120037,0,0
1,20170102,폐업,20180404,서울특별시 용산구 이태원동 44-17,메그놀리아디자인카페,199117.051682,447830.318353,N,72.99,7.554465e+08,...,2017,1,457.0,0,1,1,0,0,1,2110082
2,20170102,영업/정상,NaN,서울특별시 성동구 행당동 286-43,백채왕십리역점,202866.561868,451003.516900,N,36.61,3.060596e+08,...,2017,1,NaN,0,0,0,0,2110112,2,0
3,20170102,영업/정상,NaN,서울특별시 성동구 성수동2가 289-5,우리푸드,205005.412996,449496.502512,N,126.46,1.018635e+09,...,2017,1,NaN,0,0,0,0,2120052,3,0
4,20170102,폐업,20170920,서울특별시 동대문구 장안동 374-1,일촌김밥분식,206009.495098,451806.846263,N,47.94,4.268578e+08,...,2017,1,261.0,1,0,1,0,2110229,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59321,20211230,영업/정상,NaN,서울특별시 강동구 강일동 679-3,곽만근족발슈바인학센강일고덕점,215289.000000,451365.000000,N,37.24,2.267916e+08,...,2021,4,NaN,0,0,0,1,0,59321,2111088
59322,20211231,영업/정상,NaN,서울특별시 서초구 우면동 737,미스터국수왕양재우면점,202273.874012,439920.557145,N,32.09,1.700128e+08,...,2021,4,NaN,0,0,0,1,0,59322,0
59323,20211231,영업/정상,NaN,서울특별시 강남구 신사동 648-4,마일하이(Milehigh),203193.687163,446935.632896,Y,163.11,2.815279e+09,...,2021,4,NaN,0,0,0,1,2120193,59323,0
59324,20211231,영업/정상,NaN,서울특별시 강남구 신사동 644-6,우모크,203060.957538,447152.599452,Y,342.66,3.382054e+09,...,2021,4,NaN,0,0,0,1,2120193,59324,0
59325,20211231,영업/정상,NaN,서울특별시 강동구 길동 325-14,십점구(10.9),212830.393665,449111.777293,N,38.60,1.594566e+08,...,2021,4,NaN,0,0,0,1,2111078,59325,0

In [ ]:
main.isnull().sum()

인허가일자             0
영업상태명             0
폐업일자          41209
소재지수정             0
사업장명              1
좌표정보(X)         859
좌표정보(Y)         859
다중이용업소여부          0
시설총규모             0
추정임대료             0
가맹여부              0
업종분류              0
인허가년도             0
인허가분기             0
사업기간          41209
폐업1년이내            0
폐업3년이내            0
폐업여부              0
코로나여부             0
상권코드              0
번호                0
상권배후지 상권코드        0
dtype: int64

In [ ]:
nul_ind=~((main['상권코드']==0)*(main['상권배후지 상권코드']==0))

In [ ]:
nul_ind.sum()

56725

In [ ]:
#상권&배후지코드 다 없는애들 삭제
real_main=main.loc[nul_ind,:]

In [ ]:
real_main['상권코드'] = real_main['상권코드'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
real_main['상권배후지 상권코드'] = real_main['상권배후지 상권코드'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
real_main['업종분류'].dtypes

dtype('O')

In [ ]:
sang['업종분류'].dtypes

dtype('O')

## **기타만들기**

In [ ]:
#sang 부피 줄이기 프로젝트
rcode=real_main['상권코드'].unique()

In [ ]:
scode=sang['상권코드'].unique()

In [ ]:
intersection = list(set(rcode) & set(scode))

In [ ]:
len(scode)

1671

In [ ]:
intersection

[2130001,
 2130002,
 2130003,
 2130004,
 2130005,
 2130007,
 2130009,
 2130010,
 2130012,
 2130013,
 2130015,
 2130016,
 2130017,
 2130018,
 2130020,
 2130021,
 2130022,
 2130023,
 2130024,
 2130025,
 2130026,
 2130027,
 2130028,
 2130029,
 2130030,
 2130031,
 2130032,
 2130035,
 2130036,
 2130038,
 2130039,
 2130040,
 2130041,
 2130042,
 2130043,
 2130047,
 2130048,
 2130049,
 2130050,
 2130051,
 2130052,
 2130053,
 2130054,
 2130055,
 2130056,
 2130059,
 2130061,
 2130065,
 2130066,
 2130067,
 2130068,
 2130069,
 2130070,
 2130071,
 2130072,
 2130073,
 2130074,
 2130075,
 2130076,
 2130077,
 2130078,
 2130079,
 2130081,
 2130082,
 2130083,
 2130086,
 2130088,
 2130089,
 2130090,
 2130091,
 2130092,
 2130093,
 2130094,
 2130095,
 2130097,
 2130098,
 2130100,
 2130101,
 2130102,
 2130104,
 2130105,
 2130106,
 2130108,
 2130109,
 2130110,
 2130111,
 2130112,
 2130115,
 2130117,
 2130119,
 2130120,
 2130122,
 2130123,
 2130125,
 2130126,
 2130128,
 2130129,
 2130131,
 2130132,
 2130134,
 2130135,
 2130136,
 2130137,
 2130138,
 2130140,
 2130141,
 2130143,
 2130145,
 2130146,
 2130147,
 2130148,
 2130149,
 2130150,
 2130151,
 2130152,
 2130157,
 2130158,
 2130159,
 2130163,
 2130165,
 2130166,
 2130167,
 2130169,
 2130170,
 2130171,
 2130177,
 2130180,
 2130182,
 2130183,
 2130184,
 2130185,
 2130186,
 2130187,
 2130188,
 2130189,
 2130190,
 2130191,
 2130192,
 2130194,
 2130195,
 2130196,
 2130197,
 2130198,
 2130199,
 2130201,
 2130202,
 2130203,
 2130204,
 2130205,
 2130206,
 2130207,
 2130208,
 2130209,
 2130210,
 2130211,
 2130213,
 2130214,
 2130216,
 2130217,
 2130218,
 2130219,
 2130220,
 2130221,
 2130222,
 2130225,
 2130227,
 2130228,
 2130229,
 2130230,
 2130231,
 2130232,
 2130233,
 2130234,
 2130235,
 2130236,
 2130240,
 2130241,
 2130242,
 2130244,
 2130245,
 2130246,
 2130248,
 2130251,
 2130252,
 2130255,
 2130257,
 2130259,
 2130260,
 2130261,
 2130262,
 2130263,
 2130264,
 2130268,
 2130271,
 2130272,
 2130273,
 2130274,
 2130275,
 2130276,
 2130277,
 2130279,
 2130283,
 2130284,
 2130285,
 2130286,
 2130287,
 2130290,
 2130293,
 2130294,
 2130295,
 2130296,
 2130297,
 2130299,
 2130300,
 2130301,
 2130302,
 2130303,
 2130305,
 2130307,
 2130309,
 2130311,
 2130312,
 2130313,
 2130314,
 2130315,
 2130318,
 2130319,
 2130320,
 2130321,
 2130322,
 2130323,
 2130324,
 2130326,
 1001491,
 1001492,
 1001493,
 1001494,
 1001495,
 1001496,
 2110001,
 2110003,
 2110004,
 2110005,
 2110006,
 2110007,
 2110008,
 2110010,
 2110012,
 2110013,
 2110017,
 2110019,
 2110020,
 2110021,
 2110022,
 2110023,
 2110024,
 2110025,
 2110026,
 2110027,
 2110028,
 2110029,
 2110032,
 2110033,
 2110034,
 2110035,
 2110036,
 2110037,
 2110038,
 2110039,
 2110040,
 2110041,
 2110042,
 2110043,
 2110044,
 2110045,
 2110046,
 2110047,
 2110048,
 2110049,
 2110050,
 2110051,
 2110052,
 2110053,
 2110054,
 2110055,
 2110056,
 2110057,
 2110058,
 2110060,
 2110061,
 2110062,
 2110063,
 2110064,
 2110065,
 2110066,
 2110067,
 2110068,
 2110069,
 2110071,
 2110072,
 2110073,
 2110074,
 2110075,
 2110077,
 2110079,
 2110080,
 2110081,
 2110082,
 2110083,
 2110084,
 2110085,
 2110086,
 2110087,
 2110088,
 2110089,
 2110090,
 2110091,
 2110092,
 2110093,
 2110095,
 2110096,
 2110097,
 2110098,
 2110099,
 2110100,
 2110101,
 2110102,
 2110103,
 2110104,
 2110105,
 2110107,
 2110108,
 2110110,
 2110112,
 2110113,
 2110114,
 2110115,
 2110116,
 2110117,
 2110118,
 2110119,
 2110121,
 2110122,
 2110123,
 2110124,
 2110125,
 2110126,
 2110127,
 2110128,
 2110130,
 2110131,
 2110133,
 2110134,
 2110136,
 2110137,
 2110138,
 2110139,
 2110140,
 2110141,
 2110142,
 2110143,
 2110144,
 2110146,
 2110147,
 2110148,
 2110149,
 2110150,
 2110151,
 2110152,
 2110153,
 2110154,
 2110155,
 2110156,
 2110157,
 2110158,
 2110159,
 2110160,
 2110161,
 2110162,
 2110163,
 2110164,
 2110165,
 2110166,
 2110167,
 2110169,
 2110170,
 2110171,
 2110172,
 2110173,
 2110174,
 2110175,
 2110177,
 2110178,
 2110179,
 2110180,
 2110181,
 2110182,
 2110183,
 2110185,
 2110186,
 2110187,
 2110188,
 2110189,
 2110190,
 2110191,
 2110192,
 2110193,
 2110194,
 2110195,
 2110196,
 2110198,
 2110199,
 2110200,
 2110202,
 2110203,
 2110204,
 2110205,
 2110206,
 2110207,
 2110208,
 2110209,
 2110210,
 2110211,
 2110212,
 2110213,
 2110214,
 2110215,
 2110217,
 2110218,
 2110219,
 2110220,
 2110221,
 2110223,
 2110224,
 2110225,
 2110226,
 2110227,
 2110228,
 2110229,
 2110230,
 2110232,
 2110233,
 2110234,
 2110235,
 2110236,
 2110237,
 2110238,
 2110239,
 2110240,
 2110241,
 2110242,
 2110243,
 2110244,
 2110245,
 2110246,
 2110247,
 2110248,
 2110249,
 2110250,
 2110251,
 2110252,
 2110253,
 2110254,
 2110255,
 2110256,
 2110257,
 2110258,
 2110259,
 2110260,
 2110261,
 2110262,
 2110263,
 2110264,
 2110265,
 2110266,
 2110267,
 2110268,
 2110269,
 2110270,
 2110272,
 2110273,
 2110274,
 2110275,
 2110277,
 2110278,
 2110279,
 2110280,
 2110282,
 2110286,
 2110287,
 2110288,
 2110289,
 2110291,
 2110292,
 2110293,
 2110294,
 2110295,
 2110296,
 2110297,
 2110299,
 2110300,
 2110301,
 2110302,
 2110303,
 2110304,
 2110305,
 2110306,
 2110307,
 2110308,
 2110310,
 2110312,
 2110313,
 2110314,
 2110315,
 2110316,
 2110317,
 2110318,
 2110319,
 2110320,
 2110322,
 2110323,
 2110324,
 2110325,
 2110326,
 2110327,
 2110328,
 2110329,
 2110330,
 2110331,
 2110334,
 2110335,
 2110336,
 2110337,
 2110338,
 2110340,
 2110341,
 2110342,
 2110343,
 2110344,
 2110345,
 2110346,
 2110347,
 2110348,
 2110349,
 2110350,
 2110351,
 2110352,
 2110353,
 2110355,
 2110357,
 2110358,
 2110359,
 2110360,
 2110361,
 2110362,
 2110363,
 2110364,
 2110365,
 2110366,
 2110367,
 2110368,
 2110369,
 2110370,
 2110371,
 2110372,
 2110373,
 2110374,
 2110375,
 2110376,
 2110377,
 2110378,
 2110379,
 2110380,
 2110381,
 2110382,
 2110383,
 2110387,
 2110388,
 2110389,
 2110390,
 2110391,
 2110392,
 2110393,
 2110394,
 2110395,
 2110396,
 2110397,
 2110398,
 2110399,
 2110400,
 2110401,
 2110402,
 2110403,
 2110404,
 2110405,
 2110406,
 2110407,
 2110408,
 2110409,
 2110410,
 2110411,
 2110413,
 2110414,
 2110415,
 2110416,
 2110417,
 2110418,
 2110419,
 2110420,
 2110421,
 2110422,
 2110423,
 2110424,
 2110425,
 2110426,
 2110427,
 2110428,
 2110429,
 2110430,
 2110431,
 2110432,
 2110433,
 2110434,
 2110437,
 2110438,
 2110442,
 2110444,
 2110445,
 2110446,
 2110447,
 2110448,
 2110449,
 2110450,
 2110451,
 2110452,
 2110453,
 2110454,
 2110455,
 2110456,
 2110457,
 2110458,
 2110459,
 2110460,
 2110461,
 2110463,
 2110464,
 2110465,
 2110466,
 2110467,
 2110468,
 2110469,
 2110470,
 2110471,
 2110472,
 2110473,
 2110474,
 2110475,
 2110477,
 2110478,
 2110479,
 2110480,
 2110481,
 2110483,
 2110484,
 2110485,
 2110486,
 2110487,
 2110488,
 2110489,
 2110490,
 2110493,
 2110494,
 2110495,
 2110496,
 2110498,
 2110499,
 2110500,
 2110501,
 2110502,
 2110503,
 2110504,
 2110505,
 2110507,
 2110508,
 2110509,
 2110510,
 2110511,
 2110512,
 2110513,
 2110514,
 2110515,
 2110516,
 2110517,
 2110518,
 2110519,
 2110520,
 2110521,
 2110522,
 2110523,
 2110524,
 2110525,
 2110527,
 2110528,
 2110529,
 2110531,
 2110533,
 2110534,
 2110535,
 2110536,
 2110537,
 2110538,
 2110539,
 2110540,
 2110541,
 2110542,
 2110543,
 2110544,
 2110545,
 2110546,
 2110547,
 2110548,
 2110549,
 2110550,
 2110551,
 2110552,
 2110553,
 2110554,
 2110555,
 2110556,
 2110557,
 2110558,
 2110559,
 2110560,
 2110561,
 2110562,
 2110563,
 2110564,
 2110565,
 2110566,
 2110568,
 2110569,
 2110571,
 2110572,
 2110573,
 2110575,
 2110576,
 2110577,
 2110578,
 2110579,
 2110580,
 2110582,
 2110583,
 2110585,
 2110586,
 2110587,
 2110588,
 2110589,
 2110590,
 2110591,
 2110592,
 2110593,
 2110594,
 2110595,
 2110596,
 2110597,
 2110598,
 2110599,
 2110601,
 2110602,
 2110603,
 2110604,
 2110605,
 2110606,
 2110607,
 2110608,
 2110609,
 2110610,
 2110611,
 2110612,
 2110613,
 2110614,
 2110615,
 2110616,
 2110617,
 2110618,
 2110619,
 2110620,
 2110622,
 2110623,
 2110624,
 2110625,
 2110626,
 2110627,
 2110628,
 2110629,
 2110630,
 2110631,
 2110632,
 2110633,
 2110634,
 2110635,
 2110636,
 2110637,
 2110638,
 2110639,
 2110642,
 2110643,
 2110644,
 2110645,
 2110646,
 2110647,
 2110648,
 2110649,
 2110650,
 2110651,
 2110652,
 2110653,
 2110654,
 2110655,
 2110656,
 2110657,
 2110658,
 2110659,
 2110660,
 2110661,
 2110662,
 2110664,
 2110665,
 2110666,
 2110667,
 2110668,
 2110669,
 2110670,
 2110671,
 2110672,
 2110673,
 2110675,
 2110676,
 2110677,
 2110679,
 2110680,
 2110681,
 2110684,
 2110685,
 2110687,
 2110688,
 2110689,
 2110690,
 2110691,
 2110692,
 2110694,
 2110695,
 2110696,
 2110697,
 2110698,
 2110699,
 2110700,
 2110701,
 2110702,
 2110703,
 2110704,
 2110706,
 2110707,
 2110708,
 2110709,
 2110710,
 2110711,
 2110712,
 2110713,
 2110714,
 2110715,
 2110716,
 2110717,
 2110718,
 2110719,
 2110720,
 2110721,
 2110722,
 2110723,
 2110724,
 2110725,
 2110727,
 2110728,
 2110729,
 2110730,
 2110731,
 2110732,
 2110733,
 2110734,
 2110735,
 2110736,
 2110737,
 2110738,
 2110739,
 2110740,
 2110741,
 2110742,
 2110743,
 2110744,
 2110745,
 2110746,
 2110748,
 2110749,
 2110750,
 2110751,
 2110752,
 2110753,
 2110754,
 2110756,
 2110757,
 2110758,
 2110759,
 2110760,
 2110761,
 2110762,
 2110763,
 2110764,
 2110765,
 2110766,
 2110768,
 2110769,
 2110770,
 2110771,
 2110772,
 2110774,
 2110775,
 2110776,
 2110777,
 2110778,
 2110779,
 2110780,
 2110781,
 2110782,
 2110783,
 2110784,
 2110785,
 2110787,
 2110788,
 2110789,
 2110790,
 2110792,
 2110793,
 2110794,
 2110795,
 2110796,
 2110797,
 2110799,
 2110801,
 2110802,
 2110803,
 2110804,
 2110805,
 2110808,
 2110809,
 2110810,
 2110811,
 2110812,
 2110813,
 2110814,
 2110815,
 2110816,
 2110818,
 2110819,
 2110820,
 2110821,
 2110822,
 2110823,
 2110824,
 2110825,
 2110826,
 2110827,
 2110828,
 2110829,
 2110830,
 2110831,
 2110832,
 2110833,
 2110834,
 2110835,
 2110836,
 2110837,
 2110840,
 2110841,
 2110843,
 2110845,
 2110846,
 2110847,
 2110848,
 2110849,
 2110850,
 2110851,
 2110852,
 2110853,
 2110854,
 2110855,
 2110856,
 2110857,
 2110859,
 2110860,
 2110861,
 ...]

In [ ]:
sang = sang.loc[sang['상권코드'].isin(intersection),:]

In [ ]:
from tqdm import tqdm
import time

In [ ]:
nodup = pd.read_csv('/content/drive/MyDrive/통계 빅데이터 공모전/data/중복제거.csv')

In [ ]:
nodup

       Unnamed: 0  인허가년도  인허가분기     상권코드
0               0   2017      1  2120037
1               2   2017      1  2110112
2               3   2017      1  2120052
3               4   2017      1  2110229
4               5   2017      1  2110226
...           ...    ...    ...      ...
16087       56649   2021      4  2110816
16088       56651   2021      4  2110857
16089       56670   2021      4  2120216
16090       56690   2021      4  2130242
16091       56691   2021      4  2110852

[16092 rows x 4 columns]

In [ ]:
wow = pd.merge(sang, nodup, on=['인허가년도','인허가분기','상권코드'],how='left')

In [ ]:
wow

,Unnamed: 0_x,인허가년도,인허가분기,시군구_코드,시군구_코드_명,상권_변화_지표_명,상권_구분_코드_명,상권코드,행정동_코드,집객시설_수,...,분기당_매출_건수,주중_매출_비율,주말_매출_비율,점포수,유사_업종_점포_수,개업_율,폐업_률,프랜차이즈_점포_수,학교_수,Unnamed: 0_y
0,0,2017,1,11740,강동구,다이나믹,골목상권,2111068,11740685,9.0,...,8011.0,91.0,9.0,3.0,1.0,0.0,0.0,1.0,0.0,NaN
1,1,2017,1,11740,강동구,다이나믹,골목상권,2111068,11740685,9.0,...,1733.0,76.0,24.0,3.0,1.0,0.0,0.0,1.0,0.0,NaN
2,2,2017,1,11740,강동구,다이나믹,골목상권,2111068,11740685,9.0,...,5272.0,87.0,13.0,2.0,1.0,0.0,0.0,0.0,0.0,NaN
3,3,2017,1,11740,강동구,다이나믹,골목상권,2111068,11740685,9.0,...,7044.0,70.0,30.0,3.0,5.0,0.0,0.0,2.0,0.0,NaN
4,4,2017,1,11740,강동구,다이나믹,골목상권,2111068,11740685,9.0,...,69827.0,79.0,22.0,9.0,6.0,0.0,0.0,5.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179190,196993,2021,4,11110,종로구,정체,관광특구,1001494,11110615,243.0,...,40471.0,75.0,25.0,26.0,26.0,4.0,8.0,16.0,0.0,NaN
179191,196994,2021,4,11110,종로구,정체,관광특구,1001494,11110615,243.0,...,52556.0,74.0,26.0,28.0,28.0,4.0,4.0,10.0,0.0,NaN
179192,196995,2021,4,11110,종로구,정체,관광특구,1001494,11110615,243.0,...,344299.0,73.0,27.0,138.0,138.0,2.0,1.0,12.0,0.0,NaN
179193,196996,2021,4,11110,종로구,정체,관광특구,1001494,11110615,243.0,...,109911.0,71.0,29.0,84.0,84.0,0.0,1.0,17.0,0.0,NaN
179194,196997,2021,4,11110,종로구,정체,관광특구,1001494,11110615,243.0,...,760925.0,76.0,24.0,143.0,143.0,4.0,6.0,50.0,0.0,NaN

In [ ]:
sang=wow[wow['Unnamed: 0_y'].isnull()==False].iloc[:,:65]
sang

,Unnamed: 0_x,인허가년도,인허가분기,시군구_코드,시군구_코드_명,상권_변화_지표_명,상권_구분_코드_명,상권코드,행정동_코드,집객시설_수,...,분기당_매출_금액,분기당_매출_건수,주중_매출_비율,주말_매출_비율,점포수,유사_업종_점포_수,개업_율,폐업_률,프랜차이즈_점포_수,학교_수
11,13,2017,1,11740,강동구,다이나믹,골목상권,2111076,11740700,12.0,...,1.109596e+09,25501.0,71.0,29.0,32.0,20.0,10.0,5.0,2.0,0.0
12,14,2017,1,11740,강동구,다이나믹,골목상권,2111076,11740700,12.0,...,5.314186e+06,342.0,78.0,22.0,3.0,3.0,0.0,0.0,0.0,0.0
13,15,2017,1,11740,강동구,다이나믹,골목상권,2111076,11740700,12.0,...,7.887243e+07,3488.0,72.0,28.0,6.0,2.0,0.0,0.0,1.0,0.0
14,16,2017,1,11740,강동구,다이나믹,골목상권,2111076,11740700,12.0,...,2.847464e+08,16078.0,69.0,31.0,3.0,1.0,0.0,0.0,0.0,0.0
15,17,2017,1,11740,강동구,다이나믹,골목상권,2111076,11740700,12.0,...,3.431083e+08,39069.0,71.0,29.0,3.0,2.0,0.0,0.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179170,196971,2021,4,11110,종로구,정체,전통시장,2130015,11110680,10.0,...,9.559694e+06,1002.0,74.0,27.0,6.0,2.0,0.0,0.0,0.0,0.0
179171,196972,2021,4,11110,종로구,정체,전통시장,2130015,11110680,10.0,...,1.312572e+08,8078.0,70.0,30.0,15.0,6.0,0.0,0.0,3.0,0.0
179172,196973,2021,4,11110,종로구,정체,전통시장,2130015,11110680,10.0,...,1.131756e+08,8570.0,80.0,20.0,9.0,9.0,0.0,33.0,1.0,0.0
179173,196974,2021,4,11110,종로구,정체,전통시장,2130015,11110680,10.0,...,3.345623e+07,746.0,78.0,22.0,9.0,8.0,13.0,13.0,0.0,0.0
179174,196975,2021,4,11110,종로구,정체,전통시장,2130015,11110680,10.0,...,1.541147e+07,2797.0,70.0,30.0,3.0,2.0,0.0,50.0,0.0,0.0

In [ ]:
new_sang=sang.copy()

In [ ]:
j=0
k=0
sale_amount=0
sale_num=0
sale_week=0
sale_num=0
sale_week=0
sale_end=0  
store=0
sim_store=0
open_rate=0
close_rate=0
fran_store=0
for i in tqdm(range(1,len(sang))):


  sale_amount += sang.iloc[i-1,55]
  sale_num += sang.iloc[i-1,56]
  sale_week += sang.iloc[i-1,57]
  sale_end += sang.iloc[i-1,58]
  store += sang.iloc[i-1,59]
  sim_store += sang.iloc[i-1,60]
  open_rate += sang.iloc[i-1,61]
  close_rate += sang.iloc[i-1,62]
  fran_store += sang.iloc[i-1,63]


  k+=1
  if ((sang.iloc[i,[1,2,7]]!=sang.iloc[i-1,[1,2,7]]).sum())>0:
    k-1
    new_row = sang.iloc[i-1,:]
    new_row.loc['업종분류']='기타'
    new_row.iloc[55:64]=[sale_amount/k,sale_num/k,sale_week/k,sale_end/k,store/k,sim_store/k,open_rate/k,close_rate/k, fran_store/k]
    new_sang=pd.concat([new_sang.iloc[:i+j], pd.DataFrame(new_row).T, new_sang.iloc[i+j:]])
    j+=1
    k=0
    sale_amount=0
    sale_num=0
    sale_week=0
    sale_num=0
    sale_week=0
    sale_end=0  
    store=0
    sim_store=0
    open_rate=0
    close_rate=0
    fran_store=0

  0%|          | 0/111300 [00:00<?, ?it/s]/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj._check_is_chained_assignment_possible()
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
100%|██████████| 111300/111300 [55:04<00:00, 33.68it/s]

In [ ]:
sang_1 = new_sang.copy()

['분기당_매출_금액','분기당_매출_건수','주중_매출_비율','주말_매출_비율','점포수','유사_업종_점포_수','개업_율','폐업_률','프랜차이즈_점포_수']

In [ ]:
sang_1

,Unnamed: 0_x,인허가년도,인허가분기,시군구_코드,시군구_코드_명,상권_변화_지표_명,상권_구분_코드_명,상권코드,행정동_코드,집객시설_수,...,분기당_매출_금액,분기당_매출_건수,주중_매출_비율,주말_매출_비율,점포수,유사_업종_점포_수,개업_율,폐업_률,프랜차이즈_점포_수,학교_수
11,13,2017,1,11740,강동구,다이나믹,골목상권,2111076,11740700,12.0,...,1109596054.0,25501.0,71.0,29.0,32.0,20.0,10.0,5.0,2.0,0.0
12,14,2017,1,11740,강동구,다이나믹,골목상권,2111076,11740700,12.0,...,5314186.0,342.0,78.0,22.0,3.0,3.0,0.0,0.0,0.0,0.0
13,15,2017,1,11740,강동구,다이나믹,골목상권,2111076,11740700,12.0,...,78872431.0,3488.0,72.0,28.0,6.0,2.0,0.0,0.0,1.0,0.0
14,16,2017,1,11740,강동구,다이나믹,골목상권,2111076,11740700,12.0,...,284746422.0,16078.0,69.0,31.0,3.0,1.0,0.0,0.0,0.0,0.0
15,17,2017,1,11740,강동구,다이나믹,골목상권,2111076,11740700,12.0,...,343108259.0,39069.0,71.0,29.0,3.0,2.0,0.0,0.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179170,196971,2021,4,11110,종로구,정체,전통시장,2130015,11110680,10.0,...,9559694.0,1002.0,74.0,27.0,6.0,2.0,0.0,0.0,0.0,0.0
179171,196972,2021,4,11110,종로구,정체,전통시장,2130015,11110680,10.0,...,131257199.0,8078.0,70.0,30.0,15.0,6.0,0.0,0.0,3.0,0.0
179172,196973,2021,4,11110,종로구,정체,전통시장,2130015,11110680,10.0,...,113175639.0,8570.0,80.0,20.0,9.0,9.0,0.0,33.0,1.0,0.0
179173,196974,2021,4,11110,종로구,정체,전통시장,2130015,11110680,10.0,...,33456231.0,746.0,78.0,22.0,9.0,8.0,13.0,13.0,0.0,0.0
179174,196975,2021,4,11110,종로구,정체,전통시장,2130015,11110680,10.0,...,15411474.0,2797.0,70.0,30.0,3.0,2.0,0.0,50.0,0.0,0.0

In [ ]:
sang.iloc[:,52:].head(50)

,비 아파트 가구 수,서비스_업종_코드,업종분류,분기당_매출_금액,분기당_매출_건수,주중_매출_비율,주말_매출_비율,점포수,유사_업종_점포_수,개업_율,폐업_률,프랜차이즈_점포_수,학교_수
11,774.0,CS100001,한식음식점,1.109596e+09,25501.0,71.0,29.0,32.0,20.0,10.0,5.0,2.0,0.0
12,774.0,CS100002,중식음식점,5.314186e+06,342.0,78.0,22.0,3.0,3.0,0.0,0.0,0.0,0.0
13,774.0,CS100003,일식음식점,7.887243e+07,3488.0,72.0,28.0,6.0,2.0,0.0,0.0,1.0,0.0
14,774.0,CS100004,양식음식점,2.847464e+08,16078.0,69.0,31.0,3.0,1.0,0.0,0.0,0.0,0.0
15,774.0,CS100005,제과점,3.431083e+08,39069.0,71.0,29.0,3.0,2.0,0.0,0.0,2.0,0.0
16,774.0,CS100006,패스트푸드점,1.298747e+08,5769.0,61.0,39.0,6.0,3.0,0.0,0.0,3.0,0.0
17,774.0,CS100008,분식전문점,4.085850e+07,4632.0,77.0,23.0,6.0,5.0,20.0,0.0,1.0,0.0
18,774.0,CS100009,호프-간이주점,2.011081e+08,6284.0,75.0,25.0,17.0,12.0,17.0,25.0,1.0,0.0
19,774.0,CS100010,커피-음료,1.992639e+08,25284.0,66.0,34.0,9.0,5.0,40.0,20.0,2.0,0.0
20,3487.0,CS100001,한식음식점,2.100075e+09,52495.0,69.0,31.0,41.0,34.0,6.0,0.0,1.0,0.0
21,3487.0,CS100002,중식음식점,1.379159e+07,1004.0,87.0,13.0,3.0,3.0,0.0,0.0,0.0,0.0
22,3487.0,CS100005,제과점,1.498578e+08,16043.0,72.0,28.0,6.0,3.0,0.0,0.0,2.0,0.0
23,3487.0,CS100006,패스트푸드점,3.047856e+07,1326.0,57.0,43.0,3.0,2.0,0.0,0.0,0.0,0.0
24,3487.0,CS100007,치킨전문점,2.403816e+08,11046.0,72.0,28.0,9.0,3.0,0.0,0.0,1.0,0.0
25,3487.0,CS100008,분식전문점,8.554467e+07,6224.0,85.0,15.0,8.0,3.0,0.0,0.0,0.0,0.0
26,3487.0,CS100009,호프-간이주점,3.462316e+08,7425.0,69.0,31.0,33.0,30.0,0.0,3.0,2.0,0.0
27,3487.0,CS100010,커피-음료,7.567255e+07,9527.0,74.0,26.0,17.0,6.0,0.0,0.0,1.0,0.0
28,596.0,CS100001,한식음식점,2.449217e+08,12353.0,78.0,22.0,12.0,5.0,0.0,0.0,1.0,0.0
29,596.0,CS100006,패스트푸드점,1.648642e+06,268.0,99.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0
30,596.0,CS100008,분식전문점,1.540141e+07,1648.0,92.0,9.0,6.0,4.0,0.0,0.0,2.0,0.0
31,596.0,CS100009,호프-간이주점,1.755725e+06,23.0,100.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
32,596.0,CS100010,커피-음료,2.687046e+07,5343.0,75.0,25.0,9.0,4.0,0.0,0.0,0.0,0.0
34,491.0,CS100001,한식음식점,2.563278e+08,12536.0,79.0,21.0,15.0,9.0,0.0,0.0,0.0,0.0
35,491.0,CS100009,호프-간이주점,1.854205e+06,52.0,57.0,43.0,3.0,3.0,0.0,0.0,0.0,0.0
36,491.0,CS100010,커피-음료,3.890043e+07,4863.0,67.0,33.0,9.0,3.0,0.0,0.0,0.0,0.0
47,3704.0,CS100001,한식음식점,1.675176e+09,58813.0,72.0,28.0,67.0,38.0,3.0,5.0,2.0,0.0
48,3704.0,CS100002,중식음식점,3.361168e+08,18332.0,62.0,38.0,17.0,8.0,13.0,0.0,0.0,0.0
49,3704.0,CS100003,일식음식점,1.105439e+08,3634.0,66.0,34.0,3.0,6.0,17.0,0.0,1.0,0.0
50,3704.0,CS100004,양식음식점,2.485202e+07,803.0,74.0,26.0,3.0,2.0,0.0,0.0,0.0,0.0
51,3704.0,CS100005,제과점,1.566564e+08,19156.0,73.0,28.0,6.0,5.0,20.0,0.0,1.0,0.0
52,3704.0,CS100006,패스트푸드점,1.514629e+07,627.0,58.0,42.0,3.0,3.0,0.0,0.0,2.0,0.0
53,3704.0,CS100007,치킨전문점,5.871845e+08,28622.0,64.0,36.0,9.0,8.0,0.0,0.0,5.0,0.0
54,3704.0,CS100008,분식전문점,1.832470e+08,12812.0,72.0,28.0,16.0,8.0,0.0,0.0,0.0,0.0
55,3704.0,CS100009,호프-간이주점,7.419766e+08,22329.0,69.0,31.0,50.0,28.0,4.0,7.0,1.0,0.0
56,3704.0,CS100010,커피-음료,1.928127e+08,26937.0,68.0,32.0,18.0,11.0,0.0,0.0,1.0,0.0
57,1254.0,CS100001,한식음식점,2.356628e+08,11600.0,64.0,36.0,6.0,5.0,20.0,20.0,0.0,0.0
58,1254.0,CS100002,중식음식점,5.592744e+07,2911.0,71.0,29.0,3.0,1.0,0.0,0.0,0.0,0.0
59,1254.0,CS100006,패스트푸드점,2.295418e+08,13146.0,61.0,39.0,6.0,4.0,0.0,0.0,3.0,0.0
60,1254.0,CS100008,분식전문점,1.143095e+07,816.0,66.0,34.0,3.0,NaN,NaN,NaN,NaN,0.0
61,1254.0,CS100009,호프-간이주점,6.829839e+06,299.0,69.0,31.0,0.0,2.0,0.0,0.0,1.0,0.0
62,1254.0,CS100010,커피-음료,7.129604e+06,508.0,76.0,24.0,3.0,2.0,0.0,50.0,0.0,0.0
63,1267.0,CS100001,한식음식점,2.975409e+08,8734.0,72.0,28.0,22.0,14.0,7.0,14.0,0.0,0.0
64,1267.0,CS100002,중식음식점,2.330344e+07,1579.0,79.0,21.0,3.0,1.0,0.0,0.0,0.0,0.0
65,1267.0,CS100005,제과점,1.817101e+08,20020.0,67.0,33.0,6.0,2.0,0.0,0.0,1.0,0.0
66,1267.0,CS100007,치킨전문점,4.826427e+08,24499.0,66.0,34.0,9.0,3.0,0.0,0.0,2.0,0.0
67,1267.0,CS100008,분식전문점,3.714455e+07,4100.0,82.0,18.0,12.0,7.0,0.0,0.0,2.0,0.0
68,1267.0,CS100009,호프-간이주점,1.165677e+08,3057.0,73.0,27.0,29.0,13.0,0.0,0.0,2.0,0.0
69,1267.0,CS100010,커피-음료,1.037468e+08,19125.0,61.0,39.0,9.0,4.0,25.0,25.0,2.0,0.0
70,3255.0,CS100001,한식음식점,7.749241e+08,32651.0,81.0,19.0,51.0,32.0,3.0,0.0,1.0,0.0
71,3255.0,CS100002,중식음식점,2.123663e+07,1695.0,85.0,15.0,6.0,3.0,0.0,0.0,0.0,0.0

In [ ]:
#배후지 기타

In [ ]:
nod = pd.read_csv('/content/drive/MyDrive/통계 빅데이터 공모전/data/배후중복제거.csv')
w = pd.merge(sangbae, nod, on=['인허가년도','인허가분기','상권배후지 상권코드'],how='left')
sangbae=w[w['Unnamed: 0_y'].isnull()==False].iloc[:,:65]
new_sangbae=sangbae.copy()

In [ ]:
new_sangbae

,Unnamed: 0_x,인허가년도,인허가분기,시군구_코드,시군구_코드_명,상권_변화_지표_명,상권_구분_코드_명,상권배후지 상권코드,행정동_코드,집객시설_수,...,분기당_매출_금액,분기당_매출_건수,주중_매출_비율,주말_매출_비율,점포수,유사_업종_점포_수,개업_율,폐업_률,프랜차이즈_점포_수,학교_수
67,67,2017,1,11740,강동구,다이나믹,골목상권,2111082,11740700,36.0,...,2.146867e+09,49206.0,68.0,32.0,53.0,36.0,8.0,6.0,2.0,3.0
68,68,2017,1,11740,강동구,다이나믹,골목상권,2111082,11740700,36.0,...,8.868930e+07,4275.0,69.0,31.0,6.0,5.0,0.0,0.0,0.0,3.0
69,69,2017,1,11740,강동구,다이나믹,골목상권,2111082,11740700,36.0,...,4.468558e+08,6454.0,85.0,15.0,6.0,1.0,0.0,0.0,1.0,3.0
70,70,2017,1,11740,강동구,다이나믹,골목상권,2111082,11740700,36.0,...,4.238228e+08,19378.0,67.0,33.0,6.0,2.0,0.0,0.0,0.0,3.0
71,71,2017,1,11740,강동구,다이나믹,골목상권,2111082,11740700,36.0,...,6.831892e+08,83462.0,77.0,23.0,12.0,5.0,0.0,0.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213425,213425,2021,4,11110,종로구,정체,골목상권,2110010,11110560,79.0,...,1.031607e+08,4000.0,71.0,29.0,9.0,3.0,0.0,0.0,2.0,2.0
213426,213426,2021,4,11110,종로구,정체,골목상권,2110010,11110560,79.0,...,6.398036e+07,2421.0,63.0,37.0,3.0,3.0,0.0,0.0,2.0,2.0
213427,213427,2021,4,11110,종로구,정체,골목상권,2110010,11110560,79.0,...,3.172393e+08,29690.0,87.0,13.0,20.0,12.0,0.0,0.0,0.0,2.0
213428,213428,2021,4,11110,종로구,정체,골목상권,2110010,11110560,79.0,...,6.540419e+08,11088.0,72.0,28.0,33.0,16.0,6.0,0.0,0.0,2.0
213429,213429,2021,4,11110,종로구,정체,골목상권,2110010,11110560,79.0,...,9.688325e+08,101635.0,69.0,31.0,27.0,18.0,6.0,0.0,4.0,2.0

In [ ]:
j=0
k=0
sale_amount=0
sale_num=0
sale_week=0
sale_num=0
sale_week=0
sale_end=0  
store=0
sim_store=0
open_rate=0
close_rate=0
fran_store=0
for i in tqdm(range(1,len(sangbae))):


  sale_amount += sangbae.iloc[i-1,55]
  sale_num += sangbae.iloc[i-1,56]
  sale_week += sangbae.iloc[i-1,57]
  sale_end += sangbae.iloc[i-1,58]
  store += sangbae.iloc[i-1,59]
  sim_store += sangbae.iloc[i-1,60]
  open_rate += sangbae.iloc[i-1,61]
  close_rate += sangbae.iloc[i-1,62]
  fran_store += sangbae.iloc[i-1,63]


  k+=1
  if ((sangbae.iloc[i,[1,2,7]]!=sangbae.iloc[i-1,[1,2,7]]).sum())>0:
    k-1
    new_row = sangbae.iloc[i-1,:]
    new_row.loc['업종분류']='기타'
    new_row.iloc[55:64]=[sale_amount/k,sale_num/k,sale_week/k,sale_end/k,store/k,sim_store/k,open_rate/k,close_rate/k, fran_store/k]
    new_sangbae=pd.concat([new_sangbae.iloc[:i+j], pd.DataFrame(new_row).T, new_sangbae.iloc[i+j:]])
    j+=1
    k=0
    sale_amount=0
    sale_num=0
    sale_week=0
    sale_num=0
    sale_week=0
    sale_end=0  
    store=0
    sim_store=0
    open_rate=0
    close_rate=0
    fran_store=0

  0%|          | 0/37425 [00:00<?, ?it/s]/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj._check_is_chained_assignment_possible()
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
100%|██████████| 37425/37425 [06:17<00:00, 99.17it/s]

In [ ]:
sangbae_1 = new_sangbae.copy()

In [ ]:
sang_1.to_csv('/content/drive/MyDrive/통계 빅데이터 공모전/code/박대가리 박관우/sang_1.csv')
sangbae_1.to_csv('/content/drive/MyDrive/통계 빅데이터 공모전/code/박대가리 박관우/sangbae_1.csv.csv')

In [ ]:
df = pd.merge(real_main, sang_1,on=['인허가년도','인허가분기','상권코드','업종분류'],how='left')

In [ ]:
df = pd.merge(df, sangbae_1,on=['인허가년도','인허가분기','상권배후지 상권코드','업종분류'],how='left')

In [ ]:
df['버스_정거장_수_y'].isnull().sum()
#df len:56725 ->data가 3000여개밖에 없어

50820

In [ ]:
(df['상권배후지 상권코드']==0).sum()
#애초에 배후지 적용된 친구들이 9000개 그래도 너무 적지않나..

47702

In [ ]:
len(df[df['상권코드']==0]['상권배후지 상권코드'].unique())

854

In [ ]:
sbin=df[df['상권코드']==0]['상권배후지 상권코드'].index

In [ ]:
df.iloc[sbin,-1].isnull().sum()

3118

In [ ]:
(df['상권코드']==0).sum()

9023

In [ ]:
sangbae['남성_생활인구_수'].isnull().sum()

8898

In [ ]:
sangbae['남성_생활인구_수'].isnull().sum()/len(sangbae)

0.23774915833912252

In [ ]:
df

,인허가일자,영업상태명,폐업일자,소재지수정,사업장명,좌표정보(X),좌표정보(Y),다중이용업소여부,시설총규모,추정임대료,...,분기당_매출_금액_y,분기당_매출_건수_y,주중_매출_비율_y,주말_매출_비율_y,점포수_y,유사_업종_점포_수_y,개업_율_y,폐업_률_y,프랜차이즈_점포_수_y,학교_수_y
0,20170102,폐업,20180725,서울특별시 중구 을지로6가 18-12,면면,200703.625559,451836.458257,N,29.88,1.129464e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20170102,폐업,20180404,서울특별시 용산구 이태원동 44-17,메그놀리아디자인카페,199117.051682,447830.318353,N,72.99,7.554465e+08,...,2473148982.0,271366.0,63.0,37.0,93.0,52.0,14.0,4.0,7.0,2.0
2,20170102,영업/정상,NaN,서울특별시 성동구 행당동 286-43,백채왕십리역점,202866.561868,451003.516900,N,36.61,3.060596e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20170102,영업/정상,NaN,서울특별시 성동구 성수동2가 289-5,우리푸드,205005.412996,449496.502512,N,126.46,1.018635e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20170102,폐업,20170920,서울특별시 동대문구 장안동 374-1,일촌김밥분식,206009.495098,451806.846263,N,47.94,4.268578e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56720,20211230,영업/정상,NaN,서울특별시 강동구 명일동 326-11,주식회사더크레스트명일지점,212760.331739,449726.156403,Y,153.75,9.412575e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56721,20211230,영업/정상,NaN,서울특별시 강동구 강일동 679-3,곽만근족발슈바인학센강일고덕점,215289.000000,451365.000000,N,37.24,2.267916e+08,...,1649815547.0,62521.0,72.0,28.0,91.0,39.0,3.0,8.0,8.0,1.0
56722,20211231,영업/정상,NaN,서울특별시 강남구 신사동 648-4,마일하이(Milehigh),203193.687163,446935.632896,Y,163.11,2.815279e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56723,20211231,영업/정상,NaN,서울특별시 강남구 신사동 644-6,우모크,203060.957538,447152.599452,Y,342.66,3.382054e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56724,20211231,영업/정상,NaN,서울특별시 강동구 길동 325-14,십점구(10.9),212830.393665,449111.777293,N,38.60,1.594566e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.columns

Index(['인허가일자', '영업상태명', '폐업일자', '소재지수정', '사업장명', '좌표정보(X)', '좌표정보(Y)',
       '다중이용업소여부', '시설총규모', '추정임대료',
       ...
       '분기당_매출_금액_y', '분기당_매출_건수_y', '주중_매출_비율_y', '주말_매출_비율_y', '점포수_y',
       '유사_업종_점포_수_y', '개업_율_y', '폐업_률_y', '프랜차이즈_점포_수_y', '학교_수_y'],
      dtype='object', length=144)

In [ ]:
xlist=df.columns[22:83]

In [ ]:
ylist=df.columns[83:]

In [ ]:
xlist

Index(['Unnamed: 0_x_x', '시군구_코드_x', '시군구_코드_명_x', '상권_변화_지표_명_x',
       '상권_구분_코드_명_x', '행정동_코드_x', '집객시설_수_x', '관공서_수_x', '은행_수_x', '종합병원_수_x',
       '일반_병원_수_x', '약국_수_x', '유치원_수_x', '초등학교_수_x', '중학교_수_x', '고등학교_수_x',
       '대학교_수_x', '백화점_수_x', '슈퍼마켓_수_x', '극장_수_x', '숙박_시설_수_x', '공항_수_x',
       '철도_역_수_x', '버스_터미널_수_x', '지하철_역_수_x', '버스_정거장_수_x', '총_생활인구_수_x',
       '남성_생활인구_수_x', '여성_생활인구_수_x', '연령대_10_생활인구_수_x', '연령대_20_생활인구_수_x',
       '연령대_30_생활인구_수_x', '연령대_40_생활인구_수_x', '연령대_50_생활인구_수_x',
       '연령대_60_이상_생활인구_수_x', '아파트_단지_수_x', '아파트_평균_면적_x', '아파트_평균_시가_x',
       '총 상주인구 수', '남성 상주인구 수', '여성 상주인구 수', '연령대 10 상주인구 수', '연령대 20 상주인구 수',
       '연령대 30 상주인구 수', '연령대 40 상주인구 수', '연령대 50 상주인구 수', '연령대 60 이상 상주인구 수',
       '총 가구 수', '아파트 가구 수', '비 아파트 가구 수', '서비스_업종_코드_x', '분기당_매출_금액_x',
       '분기당_매출_건수_x', '주중_매출_비율_x', '주말_매출_비율_x', '점포수_x', '유사_업종_점포_수_x',
       '개업_율_x', '폐업_률_x', '프랜차이즈_점포_수_x', '학교_수_x'],
      dtype='object')

In [ ]:
df.loc[:,ylist].isnull().sum()

Unnamed: 0_x_y    50208
시군구_코드_y          50208
시군구_코드_명_y        50208
상권_변화_지표_명_y      50208
상권_구분_코드_명_y      50208
                  ...
유사_업종_점포_수_y      50846
개업_율_y            50846
폐업_률_y            50846
프랜차이즈_점포_수_y      50846
학교_수_y            50820
Length: 61, dtype: int64

In [ ]:
df.isnull().sum()[:83]

인허가일자               0
영업상태명               0
폐업일자            39379
소재지수정               0
사업장명                1
                ...
유사_업종_점포_수_x    13836
개업_율_x          13836
폐업_률_x          13836
프랜차이즈_점포_수_x    13836
학교_수_x          13645
Length: 83, dtype: int64

In [ ]:
df1=df.copy()

In [ ]:
for i in range(len(xlist)):
  df1.loc[df1['상권코드']==0,xlist[i]]=df1[df1['상권코드']==0][ylist[i]]

In [ ]:
df1.loc[df1['상권코드']==0,xlist]

,Unnamed: 0_x_x,시군구_코드_x,시군구_코드_명_x,상권_변화_지표_명_x,상권_구분_코드_명_x,행정동_코드_x,집객시설_수_x,관공서_수_x,은행_수_x,종합병원_수_x,...,분기당_매출_금액_x,분기당_매출_건수_x,주중_매출_비율_x,주말_매출_비율_x,점포수_x,유사_업종_점포_수_x,개업_율_x,폐업_률_x,프랜차이즈_점포_수_x,학교_수_x
1,9976,11170,용산구,정체,골목상권,11170650,97.0,4.0,7.0,0.0,...,2473148982.0,271366.0,63.0,37.0,93.0,52.0,14.0,4.0,7.0,2.0
17,5073,11440,마포구,다이나믹,골목상권,11440680,23.0,0.0,0.0,0.0,...,430600505.1,25828.4,71.9,28.3,16.5,8.0,2.7,4.2,0.3,1.0
22,4488,11500,강서구,다이나믹,골목상권,11500630,73.0,0.0,2.0,0.0,...,1118551002.0,25313.0,75.0,25.0,82.0,56.0,4.0,9.0,3.0,3.0
30,10073,11170,용산구,정체,골목상권,11170630,46.0,1.0,3.0,0.0,...,1742000278.0,82963.0,63.0,37.0,27.0,14.0,7.0,7.0,3.0,3.0
31,9909,11170,용산구,정체,골목상권,11170560,47.0,3.0,3.0,0.0,...,1205784830.9,62358.8,79.1,21.0,37.7,19.6,2.9,3.2,3.4,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56696,204885,11650,서초구,정체,발달상권,11650581,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56721,203265,11740,강동구,다이나믹,골목상권,11740560,60.0,0.0,1.0,0.0,...,1649815547.0,62521.0,72.0,28.0,91.0,39.0,3.0,8.0,8.0,1.0

In [ ]:
df1[df1['상권코드']==0][ylist]

,Unnamed: 0_x_y,시군구_코드_y,시군구_코드_명_y,상권_변화_지표_명_y,상권_구분_코드_명_y,행정동_코드_y,집객시설_수_y,관공서_수_y,은행_수_y,종합병원_수_y,...,분기당_매출_금액_y,분기당_매출_건수_y,주중_매출_비율_y,주말_매출_비율_y,점포수_y,유사_업종_점포_수_y,개업_율_y,폐업_률_y,프랜차이즈_점포_수_y,학교_수_y
1,9976,11170,용산구,정체,골목상권,11170650,97.0,4.0,7.0,0.0,...,2473148982.0,271366.0,63.0,37.0,93.0,52.0,14.0,4.0,7.0,2.0
17,5073,11440,마포구,다이나믹,골목상권,11440680,23.0,0.0,0.0,0.0,...,430600505.1,25828.4,71.9,28.3,16.5,8.0,2.7,4.2,0.3,1.0
22,4488,11500,강서구,다이나믹,골목상권,11500630,73.0,0.0,2.0,0.0,...,1118551002.0,25313.0,75.0,25.0,82.0,56.0,4.0,9.0,3.0,3.0
30,10073,11170,용산구,정체,골목상권,11170630,46.0,1.0,3.0,0.0,...,1742000278.0,82963.0,63.0,37.0,27.0,14.0,7.0,7.0,3.0,3.0
31,9909,11170,용산구,정체,골목상권,11170560,47.0,3.0,3.0,0.0,...,1205784830.9,62358.8,79.1,21.0,37.7,19.6,2.9,3.2,3.4,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56696,204885,11650,서초구,정체,발달상권,11650581,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56721,203265,11740,강동구,다이나믹,골목상권,11740560,60.0,0.0,1.0,0.0,...,1649815547.0,62521.0,72.0,28.0,91.0,39.0,3.0,8.0,8.0,1.0

In [ ]:
df_fin = df1.iloc[:,:83]

In [ ]:
df_fin.isnull().sum()

인허가일자               0
영업상태명               0
폐업일자            39379
소재지수정               0
사업장명                1
                ...
유사_업종_점포_수_x     7957
개업_율_x           7957
폐업_률_x           7957
프랜차이즈_점포_수_x     7957
학교_수_x           7740
Length: 83, dtype: int64

In [ ]:
df_fin['폐업1년이내']

0        0
1        0
2        0
3        0
4        1
        ..
56720    0
56721    0
56722    0
56723    0
56724    0
Name: 폐업1년이내, Length: 56725, dtype: int64

In [ ]:
df_fin['폐업3년이내']=df_fin['폐업1년이내']+df_fin['폐업3년이내']

In [ ]:
df_fin

,인허가일자,영업상태명,폐업일자,소재지수정,사업장명,좌표정보(X),좌표정보(Y),다중이용업소여부,시설총규모,추정임대료,...,분기당_매출_금액_x,분기당_매출_건수_x,주중_매출_비율_x,주말_매출_비율_x,점포수_x,유사_업종_점포_수_x,개업_율_x,폐업_률_x,프랜차이즈_점포_수_x,학교_수_x
0,20170102,폐업,20180725,서울특별시 중구 을지로6가 18-12,면면,200703.625559,451836.458257,N,29.88,1.129464e+09,...,13969754152.0,460649.0,76.0,24.0,273.0,200.0,2.0,2.0,19.0,0.0
1,20170102,폐업,20180404,서울특별시 용산구 이태원동 44-17,메그놀리아디자인카페,199117.051682,447830.318353,N,72.99,7.554465e+08,...,2473148982.0,271366.0,63.0,37.0,93.0,52.0,14.0,4.0,7.0,2.0
2,20170102,영업/정상,NaN,서울특별시 성동구 행당동 286-43,백채왕십리역점,202866.561868,451003.516900,N,36.61,3.060596e+08,...,893540169.0,23016.0,65.0,36.0,15.0,11.0,9.0,0.0,3.0,0.0
3,20170102,영업/정상,NaN,서울특별시 성동구 성수동2가 289-5,우리푸드,205005.412996,449496.502512,N,126.46,1.018635e+09,...,9392264313.0,305186.0,84.0,16.0,211.0,131.0,1.0,2.0,16.0,0.0
4,20170102,폐업,20170920,서울특별시 동대문구 장안동 374-1,일촌김밥분식,206009.495098,451806.846263,N,47.94,4.268578e+08,...,1535875601.0,44900.0,75.0,25.0,62.0,33.0,0.0,3.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56720,20211230,영업/정상,NaN,서울특별시 강동구 명일동 326-11,주식회사더크레스트명일지점,212760.331739,449726.156403,Y,153.75,9.412575e+08,...,995031984.0,31080.0,63.0,37.0,36.0,20.0,0.0,0.0,0.0,0.0
56721,20211230,영업/정상,NaN,서울특별시 강동구 강일동 679-3,곽만근족발슈바인학센강일고덕점,215289.000000,451365.000000,N,37.24,2.267916e+08,...,1649815547.0,62521.0,72.0,28.0,91.0,39.0,3.0,8.0,8.0,1.0
56722,20211231,영업/정상,NaN,서울특별시 강남구 신사동 648-4,마일하이(Milehigh),203193.687163,446935.632896,Y,163.11,2.815279e+09,...,1440224755.0,9801.0,82.0,18.0,15.0,20.0,0.0,0.0,0.0,0.0
56723,20211231,영업/정상,NaN,서울특별시 강남구 신사동 644-6,우모크,203060.957538,447152.599452,Y,342.66,3.382054e+09,...,11600237875.0,150391.0,80.0,20.0,168.0,78.0,1.0,4.0,6.0,0.0
56724,20211231,영업/정상,NaN,서울특별시 강동구 길동 325-14,십점구(10.9),212830.393665,449111.777293,N,38.60,1.594566e+08,...,297361225.125,15048.125,68.375,31.875,25.375,14.0,6.125,4.5,1.125,0.0

In [ ]:
df_fin.isnull().sum()

인허가일자               0
영업상태명               0
폐업일자            39379
소재지수정               0
사업장명                1
                ...
유사_업종_점포_수_x     7957
개업_율_x           7957
폐업_률_x           7957
프랜차이즈_점포_수_x     7957
학교_수_x           7740
Length: 83, dtype: int64

In [ ]:
df_fin.to_csv('/content/drive/MyDrive/통계 빅데이터 공모전/data/최종데이터.csv')

In [ ]:
with open('/content/drive/MyDrive/통계 빅데이터 공모전/data/최종데이터.pickle', 'wb') as f:
    pickle.dump(df_fin, f, pickle.HIGHEST_PROTOCOL)

In [ ]:

from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np
import os
from glob import glob
import pickle
with open('/content/drive/MyDrive/통계 빅데이터 공모전/data/상권 특성/상권_상권배후지연결_최종.pickle', 'rb') as f:
    main = pickle.load(f) 
#상권+배후지 불러오기
sang = pd.read_csv('/content/drive/MyDrive/통계 빅데이터 공모전/data/상권특성 병합데이터fin.csv')
sangbae = pd.read_csv('/content/drive/MyDrive/통계 빅데이터 공모전/data/상권배후지특성 병합데이터fin.csv')
#칼럼이름 통일
sang=sang.rename(columns={'기준_년_코드':'인허가년도','기준_분기_코드':'인허가분기','상권_코드':'상권코드','서비스_업종_코드_명':'업종분류'})
sangbae = sangbae.rename(columns={'기준_년_코드':'인허가년도','기준_분기_코드':'인허가분기','상권_코드':'상권배후지 상권코드','서비스_업종_코드_명':'업종분류'})
cof=main['업종분류']=='커피음료'
main.loc[cof, '업종분류'] = '커피-음료'
hof=main['업종분류']=='호프간이주점'
main.loc[hof, '업종분류'] = '호프-간이주점'
ind=(main['상권코드']==0)==False
#상권코드있으면서 배후지에도 코드존재하는 애들 삭제(배후지 0으로 만들기)
main.loc[ind,'상권배후지 상권코드']=0
nul_ind=~((main['상권코드']==0)*(main['상권배후지 상권코드']==0))
#상권&배후지코드 다 없는애들 삭제
real_main=main.loc[nul_ind,:]
real_main['상권코드'] = real_main['상권코드'].astype(int)
real_main['상권배후지 상권코드'] = real_main['상권배후지 상권코드'].astype(int)

#sang 값이 존재하는 애들만 추출하기
rcode=real_main['상권코드'].unique()
scode=sang['상권코드'].unique()
intersection = list(set(rcode) & set(scode))
sang = sang.loc[sang['상권코드'].isin(intersection),:]
from tqdm import tqdm
import time
nodup = pd.read_csv('/content/drive/MyDrive/통계 빅데이터 공모전/data/중복제거.csv')
wow = pd.merge(sang, nodup, on=['인허가년도','인허가분기','상권코드'],how='left')
sang=wow[wow['Unnamed: 0_y'].isnull()==False].iloc[:,:65]
new_sang=sang.copy()
j=0
k=0
sale_amount=0
sale_num=0
sale_week=0
sale_num=0
sale_week=0
sale_end=0  
store=0
sim_store=0
open_rate=0
close_rate=0
fran_store=0
for i in tqdm(range(1,len(sang))):


  sale_amount += sang.iloc[i-1,55]
  sale_num += sang.iloc[i-1,56]
  sale_week += sang.iloc[i-1,57]
  sale_end += sang.iloc[i-1,58]
  store += sang.iloc[i-1,59]
  sim_store += sang.iloc[i-1,60]
  open_rate += sang.iloc[i-1,61]
  close_rate += sang.iloc[i-1,62]
  fran_store += sang.iloc[i-1,63]


  k+=1
  if ((sang.iloc[i,[1,2,7]]!=sang.iloc[i-1,[1,2,7]]).sum())>0:
    k-1
    new_row = sang.iloc[i-1,:]
    new_row.loc['업종분류']='기타'
    new_row.iloc[55:64]=[sale_amount/k,sale_num/k,sale_week/k,sale_end/k,store/k,sim_store/k,open_rate/k,close_rate/k, fran_store/k]
    new_sang=pd.concat([new_sang.iloc[:i+j], pd.DataFrame(new_row).T, new_sang.iloc[i+j:]])
    j+=1
    k=0
    sale_amount=0
    sale_num=0
    sale_week=0
    sale_num=0
    sale_week=0
    sale_end=0  
    store=0
    sim_store=0
    open_rate=0
    close_rate=0
    fran_store=0
sang_1 = new_sang.copy()
#배후지 기타
nod = pd.read_csv('/content/drive/MyDrive/통계 빅데이터 공모전/data/배후중복제거.csv')
w = pd.merge(sangbae, nod, on=['인허가년도','인허가분기','상권배후지 상권코드'],how='left')
sangbae=w[w['Unnamed: 0_y'].isnull()==False].iloc[:,:65]
new_sangbae=sangbae.copy()
j=0
k=0
sale_amount=0
sale_num=0
sale_week=0
sale_num=0
sale_week=0
sale_end=0  
store=0
sim_store=0
open_rate=0
close_rate=0
fran_store=0
for i in tqdm(range(1,len(sangbae))):


  sale_amount += sangbae.iloc[i-1,55]
  sale_num += sangbae.iloc[i-1,56]
  sale_week += sangbae.iloc[i-1,57]
  sale_end += sangbae.iloc[i-1,58]
  store += sangbae.iloc[i-1,59]
  sim_store += sangbae.iloc[i-1,60]
  open_rate += sangbae.iloc[i-1,61]
  close_rate += sangbae.iloc[i-1,62]
  fran_store += sangbae.iloc[i-1,63]


  k+=1
  if ((sangbae.iloc[i,[1,2,7]]!=sangbae.iloc[i-1,[1,2,7]]).sum())>0:
    k-1
    new_row = sangbae.iloc[i-1,:]
    new_row.loc['업종분류']='기타'
    new_row.iloc[55:64]=[sale_amount/k,sale_num/k,sale_week/k,sale_end/k,store/k,sim_store/k,open_rate/k,close_rate/k, fran_store/k]
    new_sangbae=pd.concat([new_sangbae.iloc[:i+j], pd.DataFrame(new_row).T, new_sangbae.iloc[i+j:]])
    j+=1
    k=0
    sale_amount=0
    sale_num=0
    sale_week=0
    sale_num=0
    sale_week=0
    sale_end=0  
    store=0
    sim_store=0
    open_rate=0
    close_rate=0
    fran_store=0
sangbae_1 = new_sangbae.copy()
df = pd.merge(real_main, sang_1,on=['인허가년도','인허가분기','상권코드','업종분류'],how='left')
df = pd.merge(df, sangbae_1,on=['인허가년도','인허가분기','상권배후지 상권코드','업종분류'],how='left')